body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    border-collapse: collapse;
    width: 50%;
}

table, th, td{
    border: 1px solid gray;
    text-align: center;
}

th{
    background-color: papayawhip;
}

.botonera{
    margin-top: 25px;
}